* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #0731ed, #ffffff, #e63003);
    font-family: Arial, sans-serif;
}

.heading {
    border-right: 3px solid #00ffcc;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 0 20 px 0;
    color: navy;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 50px;
}

p {
    font-size: 25px;
    margin-bottom: 15px;
    font-family: cursive;
}

.calculator {
    width: 260px;
    background: #0E1B40;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px #0000004d;
}

.display {
    width: 100%;
    height: 50px;
    background: #0A1022;
    color: #fff;
    font-size: 30px;
    font-weight: 900;
    text-align: right;
    padding: 2px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: cursive;
}

@keyframes button {
    from {
        font-size: 18px;
    }
    to {
        font-size: 22px;
    }
    0% {
        transform: translate(0);
    }
    30% {
        transform: translate(-12px);
    }
    350% {
        transform: translate(0);
    }
    65% {
        transform: translate(-6px);
    }
    100% {
        transform: translate(0);
    }
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background: #A03C4E;
    color: #ffffff;
    transition: 0.4s;
    animation: bounce 0.2s cubic-bezier(.28, .84, .42, 1);
}

button:hover {
    background: #6610ad;
    font-weight: 900;
    font-size: 30 px;
    border-radius: 20px;
    border: 1px solid #0aee7c;
}

.addoperator {
    background: #ffffff;
    color: black;
}

.suboperator {
    background: #ffffff;
    color: black;
}

.multioperator {
    background: #ffffff;
    color: black;
}

.divoperator {
    background: #ffffff;
    color: black;
}

.addoperator:hover {
    background: #ff9500;
}

.suboperator:hover {
    background: #1ce80d;
}

.multioperator:hover {
    background: #f91986;
}

.divoperator:hover {
    background: #c304ee;
}

.equal {
    background: #ff9500;
    grid-column: span 4;
    color: black;
}

.equal:hover {
    background: E76B74;
}

.clear {
    background: #c82333;
    color: #ffffff;
}

.clear:hover {
    background: #2AFF7A;
}

.del {
    background: #D9914E;
}

.del:hover {
    background: #2AFF7A;
}